<canvas
  #seatCanvas
  width="1200"
  height="800"
  (mousedown)="onMouseDown($event)"
  (mousemove)="onMouseMove($event)"
  (mouseup)="onMouseUp($event)"
  (mousewheel)="onMouseWheel($event)"
></canvas>
<div
  *ngIf="currentTooltip"
  [ngStyle]="{ top: tooltipY + 'px', left: tooltipX + 'px' }"
  class="tooltip"
>
  <button (click)="hideTooltip()">X</button>
  <p>Sæde: {{ currentTooltip.seat }}</p>
  <p>Brugernavn: {{ currentTooltip.username }}</p>
  <p>Navn: {{ currentTooltip.name }}</p>
</div>
